        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ site_url_j }}/css/style.css">

        <!-- dataframe-js -->
        <script src="{{ site_url_j }}/js/dataframejs/dataframe.min.js"></script>

        <!-- Handsontable -->
        <script src="{{ site_url_j }}/js/handsontable/handsontable.full.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ site_url_j }}/js/handsontable/handsontable.full.min.css">

        <!-- Load data -->
        <script src="{{ site_url_j }}/js/data/languages.js"></script>
        <script src="{{ site_url_j }}/js/data/patterns.js"></script>
        <script src="{{ site_url_j }}/js/data/full.js"></script>

        <!-- Misc JavaScript -->
        <script src="{{ site_url_j }}/js/misc.js"></script>
